
.absolute {
  position: absolute;
}

.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.left-0 {
  left: 0px;
}
.top-0 {
  top: 0px;
}
.pointer-events-none {
  pointer-events: none;
}
.opacity-0{
  opacity: 0;
}
.w-full {
  width: 100%;
}
.h-full{
  height: 100%;
}

.bottom-16 {
  bottom: 4rem;
}
.h-16 {
  height: 4rem;
}
.flex {
  display: flex;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}
.w-1\/2 {
  width: 50%;
}
.h-1\/2 {
  height: 50%;
}
.p-0 {
  padding: 0px;
}
.m-0{
  margin: 0px;
}